body {
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

.ask-modal {
  position: fixed;
  top: 50%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(42, 87, 154);
  width: 500px;
  height: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 , 0, .15);
  z-index: 9;
}

.error-404 {
  color: white;
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-404 h1 {
  font-size: 42px;
}

.backlink {
  color: white;
  text-decoration: none;
}

.ask-modal__title {
  color: white;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0;
}

.ask-modal-btn-block {
  display: flex;
  gap: 1rem;
}

.ask-modal__exit {
  font-family: "Montserrat";
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ask-modal__exit_save {
  font-family: "Montserrat";
  background-color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.ask-modal__exit_save:active {
  box-shadow: none;
}

.ask-modal__cancel {
  background-color: inherit;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
  cursor: pointer;
}

.editor-class {
  width: 600px;
  height: 800px;
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
  word-break: break-all;
  overflow: hidden;
}

.home {
  background-color: rgb(42, 87, 154);
}

.document {
  background-color: rgba(0, 0 , 0, .2);
}

.wrapper-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-class {
  background-color: rgb(42, 87, 154);
  width: 100%;
  padding-left: 2rem;
  position: fixed;
  top: 34px;
  z-index: 7;
}


.rdw-option-wrapper {
  background-color: inherit;
  border: none;
}

.rdw-option-wrapper:hover {
  box-shadow: none;
}

.rdw-option-active {
  box-shadow: none;
  background-color: rgb(127, 127, 255);
}


.app-header {
  font-family: "Montserrat";
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__user-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-family: "Montserrat";
}

.app__logout-btn {
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgba(0, 0 , 0, .25);
  height: fit-content;
  border: none;
  color: black;
  font-family: "Monsterrat";
  font-weight: 500;
  padding-left: 1rem;
  padding-bottom: .3rem;
  padding-top: .3rem;
  padding-right: 1rem;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__title {
  font-weight: 700;
}

.create-doc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.create-doc__btn {
  height: 375px;
  width: 280px;
  font-size: 90px;
  font-weight: 300;
  background-color: white;
  box-shadow: 1px 4px 18px -2px rgba(0,0,0,0.75);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.create-doc__description {
  color: black;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
}

.main-block {
 display: flex;
 justify-content: space-between;
 height: 560px;
 background-color: white;
 width: 100%;
 border-radius: 10px;
 box-shadow: 0 0 10px 7px rgba(0, 0 , 0, .2);
}

.docs_saved__title {
  text-align: center;
  color: white;
  font-family: "Montserrat";
  margin-top: 2rem;
}

html {
  height: 90vh;
}

body {
  height: 100%;
}

#root {
 height: 100%; 
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.docs-element {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 1rem;
  width: 300px;
}
.docs {
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  height: 100%;
}


.docs_saved {
  width: 45%;
  overflow-y: hidden;
  padding-bottom: 5rem;
  background-color: rgb(42, 87, 154);
}

.docs-element__title {
  font-family: "Montserrat";
  font-weight: 500;
  margin: 0;
  overflow-x: auto;
  color: white;
}
.top-panel {
  position: fixed;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(42, 87, 154);
  width: 100%;
  padding-left: 0rem;
  padding-top: 5px;
  z-index: 8;
}

.top-panel-actions {
  padding-left: 1.3rem;
  display: flex;
  gap: 1.5rem;  
}


.document-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.top-panel__save-btn, .top-panel__download-btn, .top-panel__main-page  {
  background-color: inherit;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
  cursor: pointer;
}

.document__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  color: white;
}

.submit-icon {
  fill: white
}

.remove-icon {
  fill: white;
}

.edit-icon {
  fill: white;
}

.remove-icon:hover {
  fill: red;
  cursor: pointer;
}

.edit-icon:hover {
  fill: brown;
  cursor: pointer;
}

.submit-icon:hover {
  fill: green;
  cursor: pointer;
}

.docs-element__title_edit {
  border: none;
  font-size: 16px;
  width: 100%;
  background-color: inherit;
  padding: 0;
}


.docs-element__title_edit:focus-visible {
  outline: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: fit-content;
  font-family: "Montserrat";
}

.auth-form__input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border-width: .1px;
  font-size: 18px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.auth-form__input:focus {
  outline: none;
}

.auth-form__input_submit {
  background-color: rgb(53, 116, 211);
  color: white;
  border: 0;
  cursor: pointer;
}

.auth-form__another {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.auth-form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.auth-form__label {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  place-self: flex-start;
}

.auth-form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.user-info {
  color: white;
  font-family: "Montserrat";
  display: flex;
  gap: 2rem
}